

.App {
  text-align: center;
  z-index: 0;
  margin-top: -50px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  z-index: 1;
}

.desk {
  margin-top: -110px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: -5;
  position: relative;
  max-width:100%;
  height:auto ;
}
@media (max-width: 1000px) {
  .desk {
    max-width:1000px !important;
    margin-left: -50% !important;
  }
}
.desk-hover {
  margin-top: -110px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: -4;
  position: absolute;
  max-width: 100%;
  height:auto;
  opacity: 0.6;
}
@media (max-width: 1000px) {
  .desk-hover {
    max-width:1000px !important;
    margin-left: -50% !important;
  }
}

.NavbarIcons {
 z-index: 5;
 margin-top: -38px;
 text-align: right;
}
.content-contribute {
  margin-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .menu {
  display: none !important;
  }
}

.NavbarLogo {
  color: transparent;
  background-color: transparent;
  z-index: 6;
  margin-top: 25px;
  text-align: left;
 }

 @media (max-width: 1000px) {
  .skelett {
  display: none !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .somethingcool {
  animation: App-logo-einsfade infinite 5s linear;
  z-index: 5;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    z-index: 1;
    position: absolute;
  }
}
.baselogofüllung-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .baselogofüllung-logo {
  z-index: 0;
  }
}
.rahmen-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .rahmen-logo {

  z-index: 2;
  }
}

.eins-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .eins-logo {
  animation: App-logo-eins infinite 1.5s linear;
  z-index: 0;
  }
}

.zwei-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .zwei-logo {
  animation: App-logo-zwei infinite 15s linear;
  z-index: 0;
  }
}

.drei-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .drei-logo {
  animation: App-logo-drei infinite 15s linear;
  z-index: 0;
  }
}

.vier-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .vier-logo {
  animation: App-logo-vier infinite 15s linear;
  z-index: 0;
  }
}
.einsfade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .einsfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3s;
  z-index: 0;
  }
}

.zweifade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .zweifade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.1s;
  z-index: 0;
  }
}

.dreifade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .dreifade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.2s;
  z-index: 0;
  }
}

.vierfade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .vierfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.1s;
  z-index: 0;
  }
}

.fünffade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .fünffade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.3s;
  z-index: 0;
  }
}

.sechsfade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .sechsfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.4s;
  z-index: 0;

  }
}

.siebenfade-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .siebenfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.5s;
  z-index: 0;
  }
}


.App-header {
  background-color: transparent;
  min-height: 10.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -85px;
  z-index: -1;
  position: relative
  
}

.App-body {
  background-color: rgb(78, 74, 74);
  min-height: 44vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;
  margin-top: -85px;
  position: relative
}

.infobox {
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -3;
  margin-top: 450px;
  position: relative
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-einsfade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-zweifade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-dreifade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-vierfade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-fünffade {
  0% { opacity: 1; }
10% { opacity: 1; }
15% { opacity: 0; }
100% { opacity: 0; }
} 

@keyframes App-logo-sechsfade {
  0% { opacity: 1; }
10% { opacity: 1; }
15% { opacity: 0; }
100% { opacity: 0; }
} 
@keyframes App-logo-siebenfade {
  0% { opacity: 1; }
10% { opacity: 1; }
15% { opacity: 0; }
100% { opacity: 0; }
} 


