.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .somethingcool {
  animation: App-logo-einsfade infinite 5s linear;
  z-index: 5;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    z-index: 1;
    position: absolute;
  }
}
.baselogofüllung-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .baselogofüllung-logo {
  z-index: 0;
  }
}
.rahmen-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .rahmen-logo {

  z-index: 2;
  }
}

.eins-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .eins-logo {
  animation: App-logo-eins infinite 1.5s linear;
  z-index: 0;
  }
}

.zwei-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .zwei-logo {
  animation: App-logo-zwei infinite 15s linear;
  z-index: 0;
  }
}

.drei-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .drei-logo {
  animation: App-logo-drei infinite 15s linear;
  z-index: 0;
  }
}

.vier-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .vier-logo {
  animation: App-logo-vier infinite 15s linear;
  z-index: 0;
  }
}
.einsfade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .einsfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3s;
  z-index: 0;
  }
}

.zweifade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .zweifade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.1s;
  z-index: 0;
  }
}

.dreifade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .dreifade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.2s;
  z-index: 0;
  }
}

.vierfade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .vierfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.1s;
  z-index: 0;
  }
}

.fünffade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .fünffade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.3s;
  z-index: 0;
  }
}

.sechsfade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .sechsfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.4s;
  z-index: 0;
  }
}

.siebenfade-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .siebenfade-logo {
  animation: App-logo-einsfade infinite 5s linear;
  animation-delay: 3.5s;
  z-index: 0;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
 
}

@keyframes App-logo-eins {
}

@keyframes App-logo-zwei {

} 

@keyframes App-logo-drei {

} 

@keyframes App-logo-vier {
 
} 
@keyframes App-logo-einsfade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-zweifade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-dreifade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-vierfade {
    0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
@keyframes App-logo-fünffade {
  0% { opacity: 1; }
10% { opacity: 1; }
15% { opacity: 0; }
100% { opacity: 0; }
} 

@keyframes App-logo-sechsfade {
  0% { opacity: 1; }
10% { opacity: 1; }
15% { opacity: 0; }
100% { opacity: 0; }
} 
@keyframes App-logo-siebenfade {
  0% { opacity: 1; }
10% { opacity: 1; }
15% { opacity: 0; }
100% { opacity: 0; }
} 


